{%- spaceless -%}
	{%- for key, messages in app.session.flashbag.all() -%}
	    {%- for message in messages -%}
    		<div class="alert {{ alert_key(key) -}}">
    		    {{- message |trans -}}
    		</div>
		{%- endfor -%}
	{%- endfor -%}
{%- endspaceless -%}
